*:not([class*="fa"]){
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
:root{
    --bg-drak: #2E2F2A;
    --color-main: #AB6520
}
a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.border-0{
    border: none!important;
}
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 14px;
    color: #101010;
    background-color: #F5EDE7;
}
*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: unset;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

a:hover * {
    transition: all 0.4s ease 0s;
}


.box-image{
    overflow: hidden;
    transition: all .4s;
}
.box-image img{
    width: 100%;
    height: 100%;
    transition: all .4s;
    object-fit: cover;
}

.bg-dark{
    background-color: var(--bg-drak)!important;
}
#gold{
    height: 100vh;
    background-color: #101010;
}
#gold .header{
    display: flex;
    align-items: center;
}
#gold .header .box-image{
    flex: 0 0 16%;
    max-width: 300px;
    height: 200px;
}
#gold .header .box-title{
    width: 100%;
    padding-inline: 20px;
    text-align: center;
}
#gold .header .box-title .title{
    font-size: 70px;
    font-weight: 500;
    color: yellow;
    margin-bottom: 5px;
}
#gold .header .box-title p{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #0dcaf0;
    letter-spacing: 3px;
}
#gold .box-table-gold{
    background-color: #b41212;
    color: yellow;
}
#gold .box-table-gold .box-title{
    padding: 25px 15px 5px;
}
#gold .box-table-gold .box-title .title{
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3px;
}
#gold .box-table-gold .box-title .box-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 400;
    padding-inline: 10px;
    color: #fff;
}
#gold .table-control-main{
    display: flex;
}
#gold .table-control-main .wrap-table{
    flex: 0 0 70%;
    max-width: 70%;
}
#gold .table-control-main .wrap-table tr td{
    color: yellow;
    font-size: 55px;
    /* font-size: 5vh; */
    font-weight: 500;
    border: 2px solid #101010;
    text-align: center;
}
#gold .table-control-main .box-image{
    flex: 0 0 30%;
    max-width: 30%;
}
#gold .table-control-main .box-image img{
    object-fit: fill;
}
#gold .run-text{
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 30px;
    padding: 6px 20px;
    background-color: #0dcaf0;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .track {
    position: relative;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  

















